/* #region Clearfix */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* #endregion Clearfix */

body
{
    font-family:Arial;font-size:12pt;
}

.movie
{
    border: 1px solid #808080;
    padding: 10px;
    margin: 10px;
    clear: both;
    background-color:#E0DED6;
	background-image:-moz-linear-gradient(top, #fff, #E0DED6); /* FF3.6 */
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #E0DED6)); /* Saf4+, Chrome */
	background-image:-webkit-linear-gradient(#fff, #E0DED6); /* Chrome 10+, Saf6 */
	background-image:linear-gradient(top, #fff, #E0DED6);
	-moz-box-shadow: 0 11px rgba(255, 255, 255, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: 0 11px rgba(255, 255, 255, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.8);
	box-shadow: 0 11px rgba(255, 255, 255, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.8);
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	text-shadow:0 1px 0 #fff;
}

.movie dl dt 
{
    float: left;
	margin-right:10px;
	width: 50px;
}
.movie-header 
{
    font-weight: bold;
}

.movie-image 
{
    float: left;
    margin-right: 10px;
}

.movie-details 
{
	
}


